p{
    position: static;
}

.box{
    height: 150px;
    width: 150px;
    margin: 10px;
    background-color: aqua;
    border: 1px solid black;
    display: inline-block;
}

#box1{
    position: absolute;
    top: 100px;
    left: 50px;
}