.box{
    border:1px  solid black;
    height: 200px;
    width:150px;
    background-image: linear-gradient(red,blue);
    background-image: linear-gradient(to right,red,blue);
    background-image: linear-gradient(to left,red,blue);
    background-image: linear-gradient(to top,red,blue);
    background-image: linear-gradient(to bottom right,red ,blue,green);
    background-image: linear-gradient(180  deg, orange, white, green);
    background-image: linear-gradient(to bottom,rgb(255,0,0,0.5),rgb(0,0,255,1)); /* 4th value is for opacity  */
}

.mydiv{
    border: 1px solid black;
    margin-top: 10px;
    height: 300px;
    width: 300px;
    background-image: radial-gradient(blue, green,yellow); /* blue to green to yellow transition */
    background-image: radial-gradient(yellow 15%,orange 5%,red 60%);
}

.conic{
    margin-top: 10px;
    height: 300px;
    width: 300px;
    background-image:conic-gradient(blue,orange,red, yellow, green);
}